h2 {
  margin: 3px;
}

h3 {
  margin: 3px;
}

.App {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 20px;
  grid-auto-rows: 22% 22% 22% 22%;
  height: 100vh;
}
.items {
  grid-column: 1 / 5;
  grid-row: 1;
  outline: rgb(91, 76, 175) solid 10px;
}
.map {
  grid-column: 1 / 4;
  grid-row: 2 / 5;
  outline: #4CAF50 solid 10px;
}
.info {
  grid-column: 4 / 5;
  grid-row: 2 / 4;
  outline: rgb(175, 76, 76) solid 10px;
}

.legend {
  grid-column: 4 / 5;
  grid-row: 4;
  outline: rgb(76, 175, 167) solid 10px;
}

.thumbnail-container {
  overflow-x:scroll;
  padding: 0 15px;
  margin-bottom: 20px;
}

.thumbnail-list {
  white-space:nowrap;
  list-style: none;
  padding-inline-start: 0px
}
.thumbnail-list li {
  display: inline-block;
}
.thumbnail-image {
  display: block;
  padding: 10px;
  max-width: 100px;
}

.item-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width:100px;
  text-align: center;
}

ul[class="legendList"] {
  list-style: none; /* Remove default bullets */
}

ul[class="legendList"] li[class="bosskill"]::before {
  content: "\0E4F";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ffc448; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

ul[class="legendList"] li[class="ownerchange"]::before {
  content: "\0E4F";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ff484d; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

ul[class="legendList"] li[class="playerkill"]::before {
  content: "\0E4F";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #f560ff; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.item_header {
  display: inline;
}
